* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: poppins;
  text-align: center;
}
.card-body {
  background-image: linear-gradient(
    to right top,
    #026826,
    #055821,
    #07481c,
    #083917,
    #082a11
  );
}
